html, body, header, nav, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

body {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  font-size: 20px;

}

.left {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  width: 200px;
}

.mid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

snake {
  margin: 50px;
  display: flex;
  width: 440px;
  height: 440px;
  flex-wrap: wrap;
  Border: 2px solid Black;
}

li {
  list-style: none;
  border: 1px solid Gray;
  width: 20px;
  height: 20px;
  background-color: White;
}

.snake {
  background-color: Green;
}

.apple {
  background-color: Red;
}

.right {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  width: 200px;
}

.links {
  margin: 20px;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

.links a {
  margin: 20px;
}

.links i {
  font-size: 4rem;
}

.github-link {
  color: Black;
}

.github-link:hover{
  color: White;
}

.linkedin-link {
  color: Blue;
}

.linkedin-link:hover {
  color: White;
